.cardslayout {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card {
  &:hover {
    background-color: white;
    color: gray;
    font-size: 16px;
    align-content: center;
  }
}
