.nav{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sortAsc  sortDesc"
    "submit submit";
   grid-column-gap: 1rem;
   grid-row-gap: 1rem;
   

}

.sortAsc{
    grid-area: sortAsc;

}
.sortDesc{
    grid-area: sortDesc;

}
.submit{
    grid-area: submit;
 
}